<h2>Редактирование числа вакансий за <%= @t.prev_year(2) %></h2>

<form action="vacancies_ed" method="POST" role="form" class="form-horizontal">
  <% @vacancy.each do |vacancy| %>
  <div class="form-group">
      <div class="col-sm-1">
          <input type="text" class="form-control" name="from_the_form[<%= vacancy.id %>]" value="<%= vacancy.vacancy_count %>">
      </div>
      <label class="col-sm-0 control-label"><%= vacancy.dep_name %></label>
    </div>
    <% end %>
    <div class="form-group">
      <div class="col-sm-1">
          <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
</form>