/* //срабатывает только вьюхе редактирования числа вакансий vacancies/edit.html.erb */

.count {
    position: fixed; /* Фиксированное положение */
    z-index: 1; /* Высота слоя в общей "стопке" слоёв */
    right: 5%; /* Расстояние от правого края окна браузера */
    top: 20%; /* Расстояние сверху */
    border-radius: 5px; /* Радиус скругления рамки */
    padding: 8px; /* Поля вокруг текста */ 
    background: green; /* Цвет фона */ 
    color: #fff; /* Цвет текста */
   }
